.entryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
}
  
.altura {
    background-color: #111827;/* ajusta el valor según el tamaño del menú */
    height: 92vh;
}